header {
	background-color: white;
	height: 70;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

.hb-logo {
	position: relative;
	left: 10px;
	/* center vertically 
	top: 50%;
	transform: translate(0%, -50%);
	*/
}
